.view {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1BBC9B;

  .landingContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;

    .landingTitle {
      margin: 0;
      font-size: 6rem;
      color: #FFF;
      #contactLink {
        &:hover {
          cursor: pointer;
          color: #2C3E50;
        }
      }
    }

    .landingScrollLinks {
      font-size: 2rem;
      color: white;
      #musicLink {
        &:hover {
          cursor: pointer;
          color: #3A539B;
        }
      }
      #gamesLink {
        margin: 0 1rem;
        &:hover {
          cursor: pointer;
          color: #F64747;
        }
      }
      #socialLink {
        a {
          color: inherit;
          text-decoration: inherit;
        }
        &:hover {
          cursor: pointer;
          color: #81CFE0;
        }
      }
    }
    .showPortfolioButton {
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      font-family: Arial;
      color: white;
      font-size: 20px;
      background: transparent;
      padding: 10px 20px 10px 20px;
      border: solid white 2px;
      text-decoration: none;
      &:hover {
        color: #1BBC9B;
        background-color: white;
      }
    }
  }
}